APP_PORT=8787
APP_INTERNAL_PORT=8787
PUBLIC_BASE_URL=http://localhost:8787
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SECRET_KEY=replace-this-secret
POSTGRES_DB=clublectura
POSTGRES_USER=clublectura
POSTGRES_PASSWORD=clublectura
GOOGLE_CLIENT_ID=replace-me.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=replace-me
